@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SparkCRM</h1>
    <p class="lead">SparkCRM is a Customer Relationship Management System that allows users to upload their contacts pictures and update customer info.</p>
    <p><a href="Contacts" class="btn btn-primary btn-lg">View Contacts &raquo;</a></p>
</div>

 